# Basic Input, Output, String Formatting

## Reading Input from Keyboard

s = input()

In [2]:
print(s)

data

name = input("What's your name? ")

In [6]:
print(name)

Pedro El√≠as Romero Nieto

In [7]:
n = input("Enter a number: ")

Enter a number:  50

In [8]:
print(n + 100)

TypeError: can only concatenate str (not "int") to str

In [9]:
n = int(input("Enter a number: "))

Enter a number:  50

In [10]:
print(50 + 100)

150

## Writing Output to the Console

In [11]:
fname = 'Pedro'
lname = 'Romero'
print("Name: ", fname, lname)

Name:  Pedro Romero

In [12]:
print('foo', 42, 'bar')

foo 42 bar

In [13]:
print('foo', 42, 'bar', sep='/')

foo/42/bar

In [14]:
print('foo', 42, 'bar', sep='...')

foo...42...bar

In [15]:
d = {'foo':1, 'bar':2, 'baz':3}
for k,v in d.items():
    print(k, v, sep=' -> ')

foo -> 1
bar -> 2
baz -> 3

In [16]:
if True:
    print('foo', end='/')
    print('42', end='/')
    print('bar')

foo/42/bar

In [17]:
for n in range(10):
    print(n, end=(' ' if n < 9 else '\n'))

0 1 2 3 4 5 6 7 8 9

In [18]:
print('flushed with each print', flush=True)

flushed with each print

## Formating String Output

### The String Modulo Operator

In [1]:
print('%d %s cost %.2f' % (6, 'bananas', 1.74))

6 bananas cost 1.74

In [3]:
print("Hello, my name is %s" % "Pedro")

Hello, my name is Pedro

In [9]:
print('%d' % (25), '%d' % (5), '%d' % (1982), sep='/')

25/5/1982

In [11]:
# Hexadecimal integer
'%x, %X' % (252, 252)

'fc, FC'

In [13]:
'%o' % (16)

'20'

In [14]:
#floating point
'%f, %F' % (3.14159, 3.14)

'3.141590, 3.140000'

In [16]:
#Representing exponential
'%e, %.1E' % (1000.0, 1000.0)

'1.000000e+03, 1.0E+03'

#### Deep Dive: Inf and Nan

In [18]:
x = float('NaN')
'%f, %e, %F, %E' % (x,x,x,x)
#y = float('Inf')
#'%f, %e, %F, %E' % (y,y,y,y)

'nan, nan, NAN, NAN'

In [19]:
'Get %d%% off on %s today only!' % (30, 'bananas')

'Get 30% off on bananas today only!'

### Width and Precision Specifiers

#### The Width Specifiers

In [21]:
'%5s' % 'foo'

'  4'

In [22]:
'%3d' % 4

'  4'

In [28]:
'%10d' % 1234, '%-10d' % 1234

('      1234', '1234      ')

#### The precision Specifiers

In [29]:
'%.2f' % 123.456789

'123.46'

In [31]:
'%.2e' % 123.456789

'1.23e+02'

In [33]:
'%8.2f' % 123.456789

'  123.46'

In [34]:
'%8.3s' % 'foobar'

'     foo'

In [35]:
'%*d' % (5, 123)

'  123'

In [36]:
for i in range(3):
    w = int(input('Enter width: '))
    print('[%*s]' % (w, 'foo'))

Enter width:  2

[foo]

Enter width:  4

[ foo]

Enter width:  8

[     foo]

In [37]:
'%#o' % 16

'0o20'

In [38]:
'%.0f' % 123

'123'

In [39]:
'%#.0f' % 123

'123.'

In [40]:
'%#.0e' % 123

'1.e+02'

In [41]:
'%05d' % 123

'00123'

In [42]:
'%08.2f' % 1.2

'00001.20'

In [43]:
'%-*s' % (10, 'foo')

'foo       '

In [44]:
d = {'quantity': 6, 'item': 'bananas', 'price': 1.74}
'%(quantity)d %(item)s cost $%(price).2f' % d

'6 bananas cost $1.74'

In [45]:
'Quantity: %(quantity)03d' % d

'Quantity: 006'